.barberCardContainer {
  // display: grid;
  // grid-template-columns: 2fr 4fr;
  display: grid;
  grid-template-areas: "imageContainer imageContainer contentContainer contentContainer contentContainer ";
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  border: 3px solid var(--teal);
  color: var(--white);
  border-radius: 0.3rem;
  & > .imageContainer {
    grid-area: imageContainer;
    margin: 0 auto;
    text-align: center;
    & > img {
      width: 80%;
    }
  }
  & > .contentContainer {
    grid-area: contentContainer;
    button {
      margin: 0 0.5rem;
      background-color: var(--black);
      padding: 2px 15px;
      border-radius: 5px;
      border: none;
      transition: 0.3s ease;
      font-size: 0.9rem;
      color: white;
      position: relative;
      box-shadow: 0px 0px 2px 2px gray;
    }

    button:hover {
      background-color: var(--navyBlue);
      border: none;
    }
  }
}
