nav.headerNavContainer {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  padding: 0.6em;
  .logoContainer {
    font-size: 1.6rem;
    text-align: center;
  }
  .navLinksContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    & > ul {
      justify-content: space-evenly;
      width: 60%;
      margin: auto;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    display: block;
    &:hover {
      color: var(--teal);
    }
  }
  .fa-bars,
  .fa-times {
    display: none;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  nav.headerNavContainer {
    grid-template-columns: 1fr 1fr;
    .fa-bars,
    .fa-times {
      display: block;
      text-align: right;
    }

    .logoContainer {
      text-align: left;
    }
    .navLinksContainer.active {
      display: flex;
    }
    .navLinksContainer {
      display: none;
      overflow: hidden;
      flex-direction: column;
      grid-column: 1/3;
      & > ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
      li {
        width: 100%;
        background-color: var(--navyBlue);
        margin: 0.5rem auto;
        padding: 0.2rem;
        & > a {
          text-align: center;
          &:hover {
            background-color: var(--teal);
            color: var(--black);
          }
        }
      }
      .accountWrapper {
        width: 100%;
      }
    }
  }
}
